  {
    "machine": {
        "gpu": 0,
        "cpu": 1000,
        "ram": 8000
    },
    "job": {
        "APIVersion": "V1beta1",
        "Spec": {
            "Deal": {
                "Concurrency": 1
            },
            "Docker": {
              "Entrypoint": [
                "python hello.py"
              ],
              "Image": "yfantisa/animoids:1.0@sha256:9d60ff0bd3b1de8f65ea7e97c66b7a79e4298c54020ce5be195e79cbbed5fbec"
            },
            "Engine": "Docker",
            "Network": {
                "Type": "None"
            },
            "PublisherSpec": {
                "Type": "IPFS"
            },
            "Resources": {
              "GPU": ""
            },
            "Verifier": "Noop",
            "Timeout": 1800
        }
    }
}