  {
    "machine": {
        "gpu": 1,
        "cpu": 1000,
        "ram": 8000
    },
    "job": {
        "APIVersion": "V1beta1",
        "Spec": {
            "Deal": {
                "Concurrency": 1
            },
            "Docker": {
              "Image": "yfantisa/animoids:1.0@sha256:96265b3e0b7d06492d5aecd3ab4f21c125a0cfd83f297b9b810caf1c5c433ad3",
              "EnvironmentVariables": [
                "OUTPUT_DIR=/output/"
              ],
                "Entrypoint": [
                "bash", "-c",
                    "python3 ./app/hello.py"
                ]
            },
            "Engine": "Docker",
            "Network": {
                "Type": "None"
            },
            "Outputs": [
                {
                    "Name": "output",
                    "StorageSource": "IPFS",
                    "path": "/output"
                }
            ],
            "PublisherSpec": {
                "Type": "IPFS"
            },
            "Resources": {
              "GPU": ""
            },
             "Verifier": "Noop",
            "Timeout": 1800,
            "Wasm": {
                "EntryModule": {}
            }
        }
    }
}